h1{
    text-align: center;
}

p{
  text-align: center;
  font-family:cursive;
padding-right: 40px;
}

.board {
    text-align: center;
    height: 650px;
    width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    padding: 0%;
    line-height: 0px;
}

.top-left {
border-right: 5px outset red;
border-bottom: 5px outset red;
width: 200px;
height: 220px;
position: relative;
margin-bottom: 0px;
line-height: 0px;
display: inline-block;
}

.top-center {
    border-bottom: 5px outset red;
    border-right: 5px outset red;
    width: 200px;
    height: 220px;
    position: relative;
    padding: 0px;
    }

 .top-right {
    border-bottom: 5px outset red;
    width: 200px;
    height: 220px;
    position: relative;
    padding: 0px;
        }

        .middle-left {
            border-bottom: 5px outset red;
    border-right: 5px outset red;
            width: 200px;
            height: 200px;
            position: relative;
            display: inline-block;
            padding: 0px;
            }

            .middle{
                border-bottom: 5px outset red;
                border-right: 5px outset red;;
                width: 200px;
                height: 200px;
                position: relative;
               
                padding: 0px;
                }

                .middle-right {
                    border-bottom: 5px outset red;
                    width: 200px;
                    height: 200px;
                    position: relative;
                    
                    padding: 0px;
                    }

                    .bottom-left {
                        border-right: 5px outset red;
                        width: 200px;
                        height: 220px;
                        position: relative;
                       padding: 0px;
                        }

                        .bottom-center {
                            border-right: 5px outset red;
                            width: 200px;
                            height: 200px;
                            position: relative;
                            padding: 0px;
                            }

                            .bottom-right {
                               width: 200px;
                                height: 200px;
                                position: relative;
                             
                                padding: 0px;
                                }

                                